@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logoStyle {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-items {
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
}

.side-items {
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
}

.nav-items span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #c1c1c1;
}

.nav-items span:hover {
  font-family: "Montserrat";
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease;
  color: #4fc3f7;
}

.side-items span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #c1c1c1;
}

.side-items span:hover {
  font-family: "Montserrat";
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease;
  color: #4fc3f7;
}

.contact-item {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid #4fc3f7;
  border-radius: 9px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.hamburgerMenu {
  flex-direction: column;
  width: 40px;
  height: 30px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hamburgerMenu.active {
  position: fixed;
  right: 0;
}

.bar {
  background-color: #ffffff;
  height: 4px;
  width: 100%;
  transition: all 0.5s ease;
}

.hamburgerMenu .bar:nth-child(1) {
  width: 35%;
}

.hamburgerMenu.active .bar:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translateY(15px);
}

.hamburgerMenu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu .bar:nth-child(3) {
  width: 35%;
  align-self: end;
}

.hamburgerMenu.active .bar:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg) translateY(-15px);
}

.hamburgerMenu:hover .bar {
  transform: scaleX(1.1);
}

.bg-img {
  /* background: url("../public/assets/hero-bg.svg"); */
  background-position: center;
  background-size: cover;
}

.hero-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 63px;
  line-height: 94px;
  /* identical to box height */
  letter-spacing: -0.06em;

  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.job-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  background: linear-gradient(90.54deg, #4fc3f7 0.46%, #ffffff 91.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.job-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  /* or 214% */
  text-align: center;
  max-width: 600px;
  color: #e1e1e1;
}

.sub-head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.sub-des {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;

  background: linear-gradient(90deg, #4fc3f7 0%, #f5f5f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.service-card {
  box-sizing: border-box;

  background: linear-gradient(
    121.9deg,
    rgba(28, 28, 28, 0.5) 0%,
    #050505 96.81%
  );
  mix-blend-mode: plus-lighter;
  border: 1px solid #2b2b2b;
  border-radius: 10px;
}

.service-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: #ffffff;
}

.service-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #e1e1e1;
}

.skills span {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid #484e53;
  border-radius: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #a9a9a9;
}

.img-container {
  max-width: 365px !important;
  width: 100%;
  height: 200px !important;
}

.project-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #c1c1c1;
}

.project-tech {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #a9a9a9;
}

input,
textarea {
  mix-blend-mode: normal;
  border: 1px solid #d6dded;
  border-radius: 10px;
  background: transparent;
  color: #e1e1e1;
}

.foot-des {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: #dedede;
}

.gmail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 149.02%;
  text-align: justify;
  color: #c9c9c9;
}
.reserved {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154.02%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #a9a9a9;
}

@media screen and (max-width: 450px) {
  .gmail {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }

  form {
    width: 70%;
  }

  .hero-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    letter-spacing: -0.06em;
    color: #ffffff;
  }

  .foot-des {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 106%;
    letter-spacing: 0.07em;
    text-transform: capitalize;
    color: #dedede;
  }
  .gmail {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 149.02%;
    text-align: justify;
    color: #c9c9c9;
  }
}
